
/* ================= RESET / UTILITIES ================= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* ================= LAYOUT GENERALE ================= */

h1,h2,h3{
    font-family: 'Edu TAS Beginner', sans-serif;

}

header{
    background-image: url(../img/wall.png);
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.sfondo{
    background-image: url(../img/cork.png);
    width: 100%;
    height: 1200px;
}

/* ================= card ================= */

.card{
    background-color: white;
    width: 600px;
    height: 600px;
}

